body {
    font-family: sans-serif;
    margin-top: 150px;
    text-align: center;
    color:#fff;
}
#imge{
    margin-top: -10%;
    height: 300px;
}
#btn{
    margin-right: 25%;
    height: 40%;
}
button{
    width: 13%;
    height: 40px;
    background: orange;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color:white;
    margin-left: 37%;
}
#resultId{
    color: black;
    margin-top: 50px;
}

/* function setHTML(text) {
    var result = document.querySelector('#resultId');
    result.innerHTML = text;
} */